.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5; /* 배경색 추가 */
  font-family: "Arial", sans-serif; /* 폰트 스타일 설정 */
}

.home h1 {
  color: #333; /* 제목 색상 */
  margin-bottom: 40px; /* 제목과 입력 필드 사이 간격 조정 */
}

.home input {
  margin: 10px 0;
  padding: 10px 15px;
  width: 300px; /* 입력 필드 너비 조정 */
  border: 1px solid #ddd; /* 경계선 스타일 설정 */
  border-radius: 5px; /* 입력 필드 모서리 둥글게 */
  font-size: 16px; /* 글꼴 크기 조정 */
}

.home button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* 버튼 배경색 */
  color: white; /* 버튼 내용 색상 */
  border: none; /* 버튼 경계선 제거 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
  font-size: 16px; /* 글꼴 크기 조정 */
  transition: background-color 0.3s; /* 배경색 변경시 트랜지션 효과 */
}

.home button:hover {
  background-color: #0056b3; /* 버튼 호버시 배경색 변경 */
}

/* 결과 텍스트 스타일 */
.home p {
  margin-top: 20px;
  color: #333; /* 결과 텍스트 색상 */
  font-size: 18px; /* 결과 텍스트 크기 */
}

.home .gradeText {
  font-size: 24px; /* 글씨 크기를 24px로 설정 */
  font-weight: bold; /* 글씨를 굵게 */
  color: #333; /* 글씨 색상 설정 */
  margin-top: 20px; /* 상단 여백 추가 */
}
