.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5; /* 배경 색상 추가 */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff; /* 메인 영역 배경색 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  width: 90%; /* 너비 조정 */
  max-width: 500px; /* 최대 너비 설정 */
}

.titleContainer {
  text-align: center; /* 제목 컨테이너 중앙 정렬 */
}

.title {
  margin: 0;
  font-size: 2rem; /* 제목 크기 조정 */
  color: #333; /* 제목 색상 */
}

.subtitle {
  font-size: 1.25rem; /* 부제목 크기 */
  color: #666; /* 부제목 색상 */
  margin-top: 10px; /* 상단 여백 */
}

.inputContainer {
  display: flex;
  flex-direction: column; /* 버튼을 입력칸 아래로 */
  align-items: center; /* 중앙 정렬 */
  width: 100%; /* 너비 조정 */
  margin-top: 2rem;
}

.input {
  padding: 10px;
  font-size: 1rem;
  width: 50%; /* 입력 필드 너비 */
  border: 2px solid #ccc; /* 테두리 스타일 */
  margin-bottom: 1rem; /* 버튼과의 여백 */
  border-radius: 5px;
}

.button {
  padding: 10px;
  width: 80%; /* 버튼 너비 */
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff; /* 버튼 색상 */
  color: white; /* 버튼 내 글자 색상 */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s; /* 호버 효과 */
}

.button:hover {
  background-color: #0056b3; /* 버튼 호버 색상 */
}
